<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Sales Invoice Generator"  verbose="5" preserve-order="true" >

	<test name="Sales Invoice Generator">
		<classes>
            <class name="com.tests.DesignTest" />

		</classes>
	</test>


</suite>